<h1 class="page-title">addNewEntry(?)</h1>

<div class="form-container" id="form-container">
    <%= form_with model: @entry, :html => {:class => 'form'} do |form| %>
    <div>
        <%= form.label :title %><br>
        <%= form.text_field :title, :class => 'form-input' %>
    </div>

    <div>
        <%= form.label :description %><br>
        <%= form.text_field :description, :class => 'form-input' %>
    </div>

    <!-- The main code snippet container, where snippets can be added and removed -->
    <div class ="entry-large">
        <h3>Snippet(s):</h3>

        <div id="snippet-hold">
            <% @entry.snippets.each do |snippet| %>
                <%= render "snippets/form", snippet: snippet %>
            <% end %>
        </div>
    </div>

    <div>
        <%= form.submit :class => 'ui-button-standard'  %>
    </div>
    <% end %>
</div>