<div>
<%# <%= form_with model: snippet, :html => {:class => 'snippet-container'} do |form| %> %>
<%= form.fields_for :snippet, @entry.snippets.build, :html => {:class => 'snippet-container'} do |snippetForm| %>
  <p>
    <%= snippetForm.label :filename %><br>
    <%= snippetForm.text_field :filename %>
  </p>
  <p>
    <%= snippetForm.label :codesnippet %><br>
    <%= snippetForm.text_area :codesnippet, class: 'snippet-codeblock-mini' %>
  </p>

<% end %>
</div>